* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lavender;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

#brand_content ul img {
  width: 40px;
}